<!DOCTYPE html>
<html>
<head>
	<title>Data</title>
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="./css/main.css">
</head>
<body>
	<!-- <div class="col-md-4 col-md-offset-4"> -->
	<div class="container">

      <div class="row justify-content-center">
        <div class="col-sm-12 col-lg-8">
					<h1>URL Shrinker</h1>
					<br />
          <form action="/shortUrls" method="POST" class="my-4 form-inline">
            <label for="fullUrl" class="sr-only">Full URL</label>
            <input type="url" name="fullUrl" id="fullUrl" value="" placeholder="URL" class="form-control col mr-2" required>
            <button class="btn btn-success" type="submit" name="button">Shrink</button>
          </form>
					<br />
					<br />
					<br />
        </div>

        <div class="col-sm-0 col-lg-0">

        </div>

        <div class="col-sm-12 col-lg-12">
          <table class="table table-info table-striped table-responsive table-bordered table-hover">
            <thead class="thead-dark">
              <tr>
                <th>Email</th>
                <th id="ellipsis-title">Full URL</th>
                <th>Short URL</th>
                <th>Clicks</th>
              </tr>
            </thead>
            <tbody>

              <% shortUrls.forEach(shortUrl=>{ %>
                <tr>
                  <td> <a href=" <%= shortUrl.email %> "> <%= shortUrl.email %></a> </td>
                  <td id="ellipsis"> <a href=" <%= shortUrl.full %> "> <%= shortUrl.full %></a> </td>
                  <td> <a href="<%= shortUrl.short  %>"> <%= shortUrl.short  %> </a> </td>
                  <td> <%= shortUrl.clicks  %> </td>
                </tr>
              <% }) %>

            </tbody>
          </table>
        </div>
      </div>
    </div>
		<br />
		<div class="abc">
			<button type="button" class="btn btn-warning btn-lg"><a href="/logout">Logout</a></button>
		</div>

	<!-- </div> -->
</body>
</html>
